<template>
        <div class="bj_card_fruits_info">
            <div class="fruit-photo"><img :src="photopath" :alt="fruitname" /></div>
            <div class="fruit-name">{{ fruitname }}</div>
            <div class="fruit-weight">{{ fruitweight }}kg</div>
            <div class="fruit-price">{{ fruitprice }}원</div>
            <div class="fruit-arrival">{{ fruitarrival }}요일 도착 보장</div>
        </div>
</template>

<script>

export default{
    props:{
        photopath: {
            type: String,
            required: true
        },
        fruitname: {
            type: String,
            required: true
        },
        fruitweight: {
            type: Number,
            required: true
        },
        fruitprice: {
            type: Number,
            required: true
        },
        fruitarrival: {
            type: String,
            required: true
        }
    }

}
</script>
