<template>
    <div>
        <h1> 과일식품전 </h1>
        <section>
            <card-fruit-info
                v-for="(item,index) in fruits"
                v-bind:key="index"
                v-bind:photopath="item.photo"
                v-bind:fruitname="item.name"
                v-bind:fruitweight="item.weight"
                v-bind:fruitprice="item.price"
                v-bind:fruitarrival="item.arrival"
            />
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            fruits: [
                {
                    photo: 'images/apple.jpg',
                    name: '사과',
                    weight: 2,
                    price: 20000,
                    arrival:'수'
                },
                {
                    photo: 'images/cherries.jpg',
                    name: '체리',
                    weight: 4,
                    price: 30000,
                    arrival:'월'
                },
                {
                    photo: 'images/oranges.jpg',
                    name: '오렌지',
                    weight: 1,
                    price: 15000,
                    arrival:'화'
                },
                {
                    photo: 'images/raspberry.jpg',
                    name: '라즈베리',
                    weight: 3,
                    price: 40000,
                    arrival:'금'
                },
                {
                    photo: 'images/strawberries.jpg',
                    name: '딸기',
                    weight: 2,
                    price: 25000,
                    arrival:'목'
                }
            ]
        }
    }
}
</script>
